/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.countries {
  background-color: gray;
}

.country {
  padding: 10px;
  background-color: white;
  border: 3px;
  border-radius: 2px;
}
